---
layout: default
---

{% for post in site.onwar %}
  {% if cur %}
    {% assign next_post = post %}
    {% break %}
  {% endif %}
  {% if post.url == page.url %}
    {% assign prev_post = prev %}
    {% assign cur = true %}
  {% else %}
    {% assign cur = false %}
  {% endif %}
  {% assign prev = post %}
{% endfor %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="breadcrumbs">
      <a href="/writing/">Writing</a> <span class="breadcrumb-separator">/</span>
      <a href="/wring/onwar/">On War</a>
    </div>
    <h1 class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{page.url}}">{{ page.title }}</a></h1>
  <center>  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> | <a href="https://x.com/zverok/status/{{ page.tweet_id }}" class="original-thread-link">original thread</a></p>
   </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="postNavigation">
  {% if prev_post.url %}
    <a class="postPrev" href="{{prev_post.url}}">
        &laquo; {{prev_post.title}}
    </a>
  {% endif %}
  {% if next_post.url %}
    <a class="postNext" href="{{next_post.url}}">
        {{next_post.title}} &raquo;
    </a>
  {% endif %}
  </footer>


</article>
